@model PasportDetails.Models.PDetails

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>PDetails</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PHolderName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PHolderName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PPNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PPNumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PPExp)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PPExp)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PPOCode)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PPOCode)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.PId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
